src/main/resources/user-config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="jms">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mail" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="passwd" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>