src/main/resources/user-config.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="EN">
            user auth configuration for https://github.com/jens-na/backupmonitor-client
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:element name="user" type="userComplex"/>

    <xsd:complexType name="userComplex">
        <xsd:sequence>        
            <xsd:element name="user" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>